
@font-face{
    font-family: leaguespartan;
    src: url(../Fuentes/leaguespartan-bold.woff);

}@font-face{
    font-family: ClearSans-Bold;
    src: url(../Fuentes/ClearSans-Bold.ttf);

}
@font-face{
    font-family: ClearSans-Regular;
    src: url(../Fuentes/ClearSans-Regular.ttf);

}
